<div class="header-container">
    <header class="site-head" style="background-image:url({{@blog.cover}})">
        <div class="header-text">
            <h1 class="blog-title"><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
            <span class="blog-description">{{@blog.description}}</span>    
        </div>
    </header>
    <nav class="main-nav">
            <ul>
                <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="{{@blog.url}}/rss/"><i class="fa fa-rss"></i> Feed</a></li>
                <li><a href="https://www.facebook.com/johngrasty"><i class="fa fa-facebook"></a></li>
                <li><a href="https://twitter.com/JohnGrasty"><i class="fa fa-twitter"></a></li>
                <li><a href="mailto:john@needfaith.org"><i class="fa fa-envelope"></a></li>
            </ul>
    </nav>
</div>
